<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/jstree/dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="/static/mainstyle.css" />
</head>
<body>

   <div id="treeanddetails">
    <div id="treediv"></div>
    <div id="details">
      <form id="datanodedetails" class="blockform">
        <fieldset>
          <legend>Data node details</legend>
          <ul>
            <select name="nodetype" disabled="true">
              <option value="default">Folder</option>
              <option value="numeric">Numerical</option>
              <option value="alpha">Categorical Value</option>
              <option value="tag">Metadata tag</option>
              <option value="categorical">Categorical</option>
              <option value="highdim">High-dimensional</option>
              <option value="codeleaf">Special concept</option>
            </select>
          </ul>
          <ul class="label">
            <label for="datalabel">Label</label>
            <input type="text" name="datalabel"/>
          </ul>
          <ul hidden class="clinicaldata">
            <label for="filename">Filename</label>
            <input disabled type="text" name="filename"/>
          </ul>
          <ul hidden class="clinicaldata">
            <label for="columnnumber">Column Number</label>
            <input disabled type="text" name="columnnumber"/>
          </ul>
          <ul hidden class="clinicaldata">
            <label for="datalabelsource">Magic #5 </label>
            <input type="text" name="datalabelsource"/>
          </ul>
          <ul hidden class="clinicaldata">
            <label for="controlvocabcd">Magic #6</label>
            <input type="text" name="controlvocabcd"/>
          </ul>

          <div hidden id="tagbox" class="tagdata">
            <!--Here should come some code that lets you add tags dynamically-->
            <ul>
              <input type="text" name="tag_tit1" class="tag_title"/>
              <input type="text" name="tag_desc1" class="tag_desc"/>
              <input type="number" name="tag_weight1" min="1" max="10" value="3"
                     class="tag_weight"/>
            </ul>
            <ul>
              <input type="text" name="tag_tit2" class="tag_title"/>
              <input type="text" name="tag_desc2" class="tag_desc"/>
              <input type="number" name="tag_weight2" min="1" max="10" value="3"
                     class="tag_weight"/>
            </ul>
            <ul>
              <input type="text" name="tag_tit3" class="tag_title"/>
              <input type="text" name="tag_desc3" class="tag_desc"/>
              <input type="number" name="tag_weight3" min="1" max="10" value="3"
                     class="tag_weight"/>
            </ul>
            <ul>
              <input type="text" name="tag_tit4" class="tag_title"/>
              <input type="text" name="tag_desc4" class="tag_desc"/>
              <input type="number" name="tag_weight4" min="1" max="10" value="3"
                     class="tag_weight"/>
            </ul>
          </div>
        </fieldset>
        <br>
        <input type="submit" value="Apply changes" style="width: 250px;"/>
        <span style="float: center; padding-right: 5px;" id="feedback">

        </span>
      </form>
      <div id="bottom-btns">
              <button type="button" id="embeded_return">Return to Jupyter</button>
              <span id="feedbacksave"></span>
      </div>
    </div>
  </div>

<script type="application/javascript">
    var treeData = {{ json | safe }};
    var shutdown_url = "{{ url_for('shutdown', treefile=treefile) }}";
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script src="/static/tree.js"></script>
