<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	    <title>{% block title %}{% endblock %} - TranSMART Arborist</title>
			<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}" />
      <link href="//code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fjalla+One">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {% endblock %}
</head>
<body>
    <div id="content">
      <h1>{{ self.title() }}</h1>

      {% if studiesfolder %}
        <p id="breadcrumb"><a href="{{ url_for('studies_overview', studiesfolder=studiesfolder) }}">Studies overview</a>
      {% endif %}

      {% if study and studiesfolder %}
        > <a href="{{ url_for('study_page', studiesfolder=studiesfolder, study=study) }}">{{study}}</a>
      {% endif %}

      </p>
      <hr />

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="feedback">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      <hr />
        tranSMART Arborist is
        <a target="_blank" href="https://github.com/thehyve/transmart-arborist/blob/master/LICENSE">open source</a>
        and available on <a target="_blank" href="https://github.com/thehyve/transmart-arborist">Github</a>. -
        {% if request.endpoint and request.path %}
          {% set issuetitle = ('Issue in '+request.endpoint)|urlencode %}
          {% set issuebody = ('Issue encountered in '+request.endpoint+' on '+request.path)|urlencode %}
          <a target="_blank" href="https://github.com/thehyve/transmart-arborist/issues/new?title={{ issuetitle }}&amp;body={{ issuebody }}">
        {% else %}
          <a target="_blank" href="https://github.com/thehyve/transmart-arborist/issues/new">
        {% endif %}
          Click here to report an issue</a>.
      {% endblock %}
    </div>
</body>
</html>
