{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block title %}Edit {{ datatype}}.params{% endblock %}
{% block content %}

<p>{{ macros.feedbacklist(feedback) }}</p>

<form method="post" action="{{ url_for('edit_params', studiesfolder=studiesfolder, study=study, datatype=datatype) }}"
  class="blockform">
  <fieldset>
    <legend>Parameters</legend>
    {% for variable in variables %}
    <p>
      <label for="{{ variable }}">{{ variable }}</label>

      {% set helpanddefault = [] %}

      {% if variables[variable]['mandatory'] is defined %}
        {% do helpanddefault.append('Mandatory.') %}
      {% endif %}
      {% if variables[variable]['default'] is defined %}
        {% do helpanddefault.append('Default: \''+variables[variable]['default']+'\'') %}
      {% endif %}
      {% if variables[variable]['helptext'] is defined %}
        {% do helpanddefault.append(variables[variable]['helptext']) %}
      {% endif %}

      {% set helpanddefault = helpanddefault|join(" ") %}

      {% if variables[variable]['possible_values'] -%}

      <select name="{{ variable }}"
              {% if variables[variable]['mandatory'] == True %}required{% endif %}
              {% if helpanddefault %}
              title="{{ helpanddefault }}"
              {% endif %}
              >
        {% if variables[variable]['mandatory'] == True %}
        <option value disabled {% if not variables[variable]['value'] %}selected{% endif %}> -- select an option -- </option>
        {% else %}
        <option value> -- not specified -- </option>
        {% endif %}
        {% for possible_value in variables[variable]['possible_values'] %}
        <option value="{{ possible_value }}"
        {% if possible_value == variables[variable]['value'] %}selected{% endif%}
        >{{ possible_value }}</option>
        {% endfor %}
      </select>

      {%- else -%}

      <input type="text"
             name="{{ variable }}"
             value="{{ variables[variable]['value'] }}"
             {% if variables[variable]['mandatory'] == True %}required{% endif %}
             {% if helpanddefault %}
             placeholder="{{ helpanddefault }}"
             title="{{ helpanddefault }}"
             {% endif %}
             />

      {% if (variable=='COLUMN_MAP_FILE' or variable=='WORD_MAP_FILE') and not variables[variable]['value'] %}
      <button name="{{ variable }}" data-variable="{{ variable }}" class='create_file' style="float:left; margin-left:5px;" />Create</button>
      {% endif %}

      {%- endif %}
      {% if helpanddefault -%}
      <img title="{{ helpanddefault }}" src="{{ url_for('static', filename='img/helpicon.jpg') }}" style="padding-left: 3px; float: left;" />
      {%- endif %}
    </p>
    {% endfor %}
    <input type="submit" value="Apply changes" />
  </fieldset>
</form>

<p><a href="https://github.com/thehyve/transmart-batch/blob/master/docs/{{datatype}}.md"
   target="_blank">
  Read the {{datatype}}.params documentation</a></p>

<script>
  $(function() {
    $( "img" ).tooltip();
  });

  $(function() {
		$('button.create_file').bind('click', function(event) {
      var variable = $(this).data('variable')
      console.log(variable)

			$.ajax({
				method: "GET",
				url: "{{ url_for('create_mapping_file', studiesfolder=studiesfolder, study=study) }}",
        data: {'variable': variable}
			})
			.done(function( msg ) {
        console.log(msg.mappingfilename)
        $( "input[name='"+variable+"']").val(msg.mappingfilename)
      });

      return false;
    });
  });

  $(function() {
		$('button#create_word_mapping').bind('click', function() {
			$.ajax({
				method: "GET",
				url: "{{ url_for('create_mapping_file', studiesfolder=studiesfolder, study=study) }}",
			})
			.done(function( msg ) {
        console.log(msg.mappingfilename)
        $( "input[name='WORD_MAP_FILE']").val(msg.mappingfilename)
      });

      return false;
    });
  });

</script>

{% endblock %}
