{% extends "layout.html" %}
{% block title %}Studies overview{% endblock %}
{% block content %}
	<p>Studies are recognized based on the folder containing a <code>clinical.params</code> file.<br />
		You are currently in the folder: '<code>{{ studiesfolder }}</code>'.</p>

	{% if not rootfolder %}
		{% set parenturl = url_for('studies_overview', studiesfolder=parentfolder) %}
	{% endif %}

	{% if not rootfolder %}
		{% set createfolderurl = url_for('create_folder', studiesfolder=studiesfolder) %}
	{% else %}
		{% set createfolderurl = url_for('create_folder') %}
	{% endif %}

	<p>
	{% if not rootfolder %}
	<a href="{{ parenturl }}" id="gotoparent">
		<img style="padding-right:5px; vertical-align:middle;" src="{{ url_for('static', filename='img/folder.png') }}" />Go to parent directory</a> -
	{% endif %}
		<a id="newfolderlink" href="{{ createfolderurl }}">
			<img style="padding-right:5px; vertical-align:middle;" src="{{ url_for('static', filename='img/addfolder.png') }}" />Create new folder</a> -
		<a id="set_default_link" href="#">
			<img style="padding-right:5px; vertical-align:middle;" src="{{ url_for('static', filename='img/pin.png') }}" />Set default folder</a>
		<span style="padding-left: 5px;" id="feedback"></span>
	</p>

	<form method="post" id="newfolderform" action="{{ createfolderurl }}">
		<input type="hidden" name="foldername" />
	</form>

	<form id="set_default_form" action="{{ set_default_url }}" >
		<input type = 'hidden' name="defaultfolder"/>
	</form>

	<ul class="folderlist">
	{% for study in studies %}

		{% set folderurl = url_for('studies_overview', studiesfolder=(studiesfolder, study)|path_join) %}
		{% set studyurl = url_for('study_page', studiesfolder=studiesfolder, study=study) %}

		{% if studies[study]['type'] == 'study' %}

		<li class="study">
			<a title="Navigate to folder {{study}}" data-foldername="{{study}}" class="gotofolder" href="{{ folderurl }}"><img class="secondary" data-foldername="{{study}}" src="{{ url_for('static', filename='img/tree/folder.gif') }}" style="vertical-align:text-bottom;opacity: 0.2;"></a>
			<a title="Use {{study}} as study" href="{{ studyurl }}"><img class="primary" src="{{ url_for('static', filename='img/tree/study.png') }}" style="vertical-align:text-bottom;opacity: 1;"></a>
			<a href="{{ studyurl }}">{{study}}</a>
		</li>

		{% else %}

		<li class="folder">
			<a title="Navigate to folder {{study}}" data-foldername="{{study}}" class="gotofolder" href="{{ folderurl }}"><img class="primary" data-foldername="{{study}}" src="{{ url_for('static', filename='img/tree/folder.gif') }}" style="vertical-align:text-bottom;opacity: 1;"></a>
			<a title="Use {{study}} as study" href="{{ studyurl }}"><img class="secondary" src="{{ url_for('static', filename='img/tree/study.png') }}" style="vertical-align:text-bottom;opacity: 0.2;"></a>
			<a data-foldername="{{study}}" class="gotofolder" href="{{ folderurl }}">{{study}}</a>
		</li>

		{% endif %}

	{% else %}
		<li>No studies</li>
	{% endfor %}

	</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>

$('img.secondary').hover(
  function () {
		$(this).closest( "li" ).find( "img.primary" ).css( "opacity", 0.2 );
		$(this).css( "opacity", 1 );
  },
  function () {
		$(this).closest( "li" ).find( "img.primary" ).css( "opacity", 1 );
		$(this).css( "opacity", 0.2 );
  }
);

$('#newfolderlink').bind('click', function(event) {
	event.preventDefault();
	var foldername = prompt("Please enter the folder name.\nFor study folders it is recommended to use the Study ID as foldername, which should be unique, capitalized and only contain letters.", "STUDYID");
	if (foldername != '' && foldername != null) {
		$('input[name=foldername]').val(foldername);
		$('#newfolderform').submit();
	}
});

// Store the default folder
$(function() {
	$('a#set_default_link').bind('click', function() {

		$.ajax({
			method: "GET",
			contentType: "application/json",
			url: "{{ url_for('set_default_folder', studiesfolder=studiesfolder) }}"
		})
		.done(function( msg ) {
			console.log( "Data Saved: " + msg.feedback );
			feedback("Saved!", false)
		})
		.fail(function( ) {
			console.log( "Something went wrong" );
			feedback("Failed...", true)
		});

		return false;
	});
});

function feedback(string, error) {
	$( "span#feedback" ).html(string).show();
	if (error) {
		$( "span#feedback" ).css('color', 'red');
	} else {
		$( "span#feedback" ).css('color', 'green');
	}
	setTimeout(function() {
		$( "span#feedback" ).fadeOut(function () {
			$( "span#feedback" ).html("");
		})
	}, 2000);
}

</script>

{% endblock %}
