*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml
nosetests.xml

# Translations
*.mo

# Documentation
docs/_build

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# Deployment specifics
to_pip.sh

# Additional stuff
*.ipynb
*.log
~$*.xlsx
.ipynb_checkpoints/
!tmtk/arborist/static/jstree/dist
!examples/*.ipynb