p#breadcrumb {
  font-family: 'Fjalla One', serif;
}
legend {
  font-size: 1.4em;
  text-align: center;
}
div#content {
  min-height: 500px;
}
html {
  height: calc(100% - 125px);
}

body, div.container {
  height: 100%;
}
div#treeanddetails {
  border: 1px solid silver;
  height: 100%;
  min-height: 450px;
}
div#treediv {
  overflow: scroll;
  width: 60%;
  height: 100%;
  float: left;
}
div#details {
  width: 40%;
  height: 100%;
  float: right;
  position: relative;
}
div#bottom-btns {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
li.error {
  background: url('/static/images/message/error.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
li.warning {
  background: url('/static/images/message/warning.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
li.message {
  background: url('/static/images/message/info.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
::-webkit-scrollbar {
    display: none;
}
input#search_box{
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
  right: 100%;
  width: 40%;
  z-index: 99;
}
#search_spinner{
  position: absolute;
  margin-top: 24px;
  margin-right: 25px;
  right: 100%;
  width: 20px;
  z-index: 99;
}
.jstree-default .jstree-search {
  font-style: italic;
  color: #5cb85c;
  font-weight: bold;
}