html {
  height: calc(100% - 125px);
}
body, div.container {
  height: 100%;
}
legend {
  font-size: 1.6em;
  text-align: center;
}
div#treeanddetails {
  background: white;
  border: 1px solid silver;
  height: 100%;
  min-height: 450px;
  position: relative;
  overflow: hidden;
}
div#outer-tree-div {
 overflow: hidden;
 width: 57%;
 height: 100%;
 float: left;
 position: relative;
}
div#tree-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
div#details {
  width: 43%;
  height: 100%;
  float: right;
  padding: 5px;
  position: relative;
}
div#bottom-btns {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 40px;
  right: 0px;
}
li.error {
  background: url('/static/images/message/error.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
li.warning {
  background: url('/static/images/message/warning.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
li.message {
  background: url('/static/images/message/info.png') no-repeat left top;
  padding: 0px 0px 0px 20px;
  list-style: none;
}
input#search_box{
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
  right: 100%;
  width: 40%;
  z-index: 99;
}
#search_spinner{
  position: absolute;
  margin-top: 24px;
  margin-right: 25px;
  right: 100%;
  width: 20px;
  z-index: 99;
}
.jstree-default .jstree-search {
  font-style: italic;
  color: #5cb85c;
  font-weight: bold;
}
.hdtagdata {
  margin-left: 5px;
  margin-top: 15px;
  font-size: smaller;
}
.blockform {
  height: 100%;
}
.tag-container {
  max-height: calc(100% - 136px);
  position: inherit;
  overflow-y: scroll;
  border-top: silver 2px solid;
  border-bottom: silver 2px solid;
}
.tag-title {
  width: 100%;
  margin-top: 5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.tag-weight {
  margin-top: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.tag-description {
  width: 100%;
  margin-bottom: 5px;
  max-height: 128px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.table-striped>tbody>tr:nth-child(4n+1)>td,
.table-striped>tbody>tr:nth-child(4n+2)>td
{    background-color: #FFFFFF;
}
.table-striped>tbody>tr:nth-child(4n+3)>td,
.table-striped>tbody>tr:nth-child(4n+4)>td
{    background-color: #F6F6F6;
}
input#fc {
  width: inherit;
  float: right;
  margin-right: 5px;
}
input#apply-changes {
  margin-top: 15px;
}
span#feedback {
    padding-right: 5px;
}
button#embeded_return {
  float: right;
  margin-right: 10px;
}