/* tmtk specific stuff */
html {
  height: calc(100% - 125px);
}
body, div.container {
  height: 100%;
}
div#treeanddetails {
  background: white;
  border: 1px solid silver;
  height: 100%;
  min-height: 450px;
  position: relative;
  overflow: hidden;
}
div#details {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  border-left: 2px lightsteelblue solid;
}
input#search-box {
  width: 125px;
  margin: 5px;
}
div#tree-div {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
.header-bar {
  background-color: lightsteelblue;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  white-space: nowrap;
}
.header-title {
  line-height: inherit;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blockform {
  height: 95%;
  padding: 10px 5px 5px 10px;
}
/* Shared between tmtk and baas*/
#search_spinner {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 28px;
  height: 28px;
}
div#search-container {
  display: inline-block;
  right: 0;
  position: absolute;
}
div#outer-tree-div {
  overflow: hidden;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
div#bottom-btns {
  position: absolute;
  bottom: 0;
  height: 40px;
  right: 0;
}
.jstree-default .jstree-search {
  font-style: italic;
  color: tomato;
}
.hdtagdata {
  margin-left: 5px;
  margin-top: 15px;
  font-size: smaller;
}
input#fc {
  width: inherit;
  float: right;
  margin-right: 5px;
}
input#apply-changes {
  margin-top: 15px;
}
button#embeded_return {
  float: right;
  margin-right: 10px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.fade.in {
  opacity: 1;
}
.alert {
  position: absolute;
  max-width: 90%;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.jstree-default .jstree-wholerow-hovered {
  background: #f6f6f6;
}
.jstree-default .jstree-wholerow-clicked {
  background: lightsteelblue;
}
.jstree input:focus {
  border-color: steelblue;
  outline: 0 none;
  background-color: #c1e0f6;
  margin-left: -1px;
}
.tag-container {
  max-height: calc(90% - 56px);
  position: inherit;
  overflow-y: scroll;
}
.tag-container:empty::after{
  content: 'Got nothing. ¯\\_(ツ)_/¯';
  font-size: xx-large;
}
.list-tag-weight{
  float: right;
}
.tag-delete {
    float: right;
    border: none;
    top: 12px;
    right: 49px;
    position: absolute;
    display: none;
}
.trigger.active .tag-delete {
  display: inline-block;
}
ul.tagbox-header {
  text-align: justify;
  margin-top: 10px;
  margin-right: 17px;
  padding-left: 17px;
  height: 2.0em;
}
ul.tagbox-header:after {
  content: '';
    display: inline-block;
    width: 100%;
}
ul.tagbox-header:before {
    content: '';
    display: block;
    margin-top: -2.25em;
}
.tagbox-header li {
    color: #373a3c;
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}
div.metadata {
  height: calc(100% - 20px);
}
.tag-description {
  height: 128px;
  max-height: 196px;
}
.tag-buttons {
  padding-top: 5px;
}
.list-tag-title:empty::after {
  content: 'Add title.';
  font-size: x-small;
}
.list-tag-title {
  font-weight: bolder;
  margin-right: 16px;
  font-size: small;
  word-wrap: break-word;
  max-width: 100%;
}
.list-tag-description:empty::after {
  content: 'Add description.';
  font-size: x-small;
}
.list-tag-description {
  font-style: italic;
  font-size: small;
  word-wrap: break-word;
  max-width: 100%;
}
.list-tag-row {
  display: inline-block;
  max-width: calc(100% + 15px);
}
.list-group-item.active {
  background-color: #373a3c;
  border-color: #000;
}
.list-group-item.active:hover {
  background-color: #373a3c;
  border-color: #000;
}
.list-group-item.active .list-tag-description {
  color: rgba(255, 255, 255, 0.5);
}
.list-group-item.active:hover .list-tag-description {
  color: rgba(255, 255, 255, 0.5);
}
.popover {
  width: 80%;
}
.popover-title {
  background-color: #373a3c;
}
h3.popover-title {
  color: rgba(255, 255, 255, 0.5);
}
.ontology-tree-container {
  width: 100%;
  height: calc(100% - 217px);
  /*overflow: scroll;*/
  border: 1px lightgrey solid;
}
#ontology-tree-div{
  overflow: scroll;
  padding-top: 3px;
  max-height: calc(100% - 85px);
}
#ontology-search-spinner {
  position: absolute;
  width: 100px;
  height: 200px;
  left: calc(50% - 25px);
}
#ontology-box{
  padding: 5px;
  background: aliceblue;
}